html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

.portrait canvas {
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-100%);
}

.desktop canvas {
    transform: scale(-1, 1);
}
