html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

.portrait canvas {
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-100%);
}

.desktop canvas {
    transform: scale(-1, 1);
}

.arjs-loader {
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
	pointer-events: none;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #444;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}
